@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Oswald:wght@700&family=Roboto:ital,wght@0,300;0,400;1,100;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Oswald:wght@700&family=Roboto:ital,wght@0,400;1,100;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    height: 100vh;
    background-color: #ffffff;
}




/* 1ERA PARTE: CARRUSEL*/
.action_btn {
    background-color: #ffffff;
    color: #000000;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;

}

.action_btn:hover {
    scale: 1.05;
    color: #000000;
    background-color: #6fff8d;
}

.action_btn:active {
    scale: 0.95;

}


.home {
    display: flex;
    align-items: center;
    padding: 0% 5%;

}

.home-content {
    max-width: 600px;
    height: auto;

}

.home-content h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    margin-right: 100px;



}

.card_body h2,
.card_body p {
    font-size: 20px;
}

.home-content h3 {
    font-size: 20px;
    margin: 20px 0 40px;
    text-align: justify;
    margin-right: 150px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;


}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #000000;
    border: 2px solid #000000;
    border-radius: 8px;
    font-size: 19px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.btn-box a:hover {
    color: #000000;
}

.btn-box a:nth-child(2) {
    background: #000000;
    color: #ffffff;
}

.btn-box a:nth-child(2):hover {
    color: #000000;
}


.btn-box a:nth-child(2)::before {
    color: #000000ee;
}


.btn-box a:nth-child(2) ::before {
    background-color: #6fff8d;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #6fff8d;
    z-index: -1;
    transition: .5s;

}

.btn-box a:hover:before {
    width: 100%;
}

.carousel {
    margin-top: 20px;
}

/* 2DA PARTE: 3 CAJAS*/

.cards {
    background-color: #6fff8d;
    text-align: center;
    margin-top: 20px;

}

.card_body img {
    width: 100%;
    height: 30%px;
    object-fit: cover;
    color: #000000;
}

.card_body img:hover {
    background-color: #ffffff;
    box-shadow: 5px 5px 15px 0px #4a4a4a;
    color: #000000;
}

.card_body {

    display: inline-block;
    width: 30%;
    text-align: center;
    padding: 20px 20px 20px 20px;
    background-color: #6fff8d;
    margin-top: none;
    position: relative;
}

.card_body h2,
.card_body p {
    padding: 5%;
    color: #000000
}

.card_body h2:hover {
    color: #F4EAD5;
    background-color: #000000;
    box-shadow: 5px 5px 15px 0px #4a4a4a;
}


/* 3RA PARTE: EMPIEZA CON UNA IDEA*/
.cajas {
    padding: 0px 0;
    margin-top: 60px;
    margin-bottom: 70px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;


}

.caja c1 img {
    align-items: center;
}

.caja-img {
    width: 100%;
    height: 100%;
    margin: 50px;
    border-radius: 100px;
}

.caja-img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 100%;
}



.caja {
    background-color: #fffdfd;
    width: 100%;
    gap: 50px;

}

.caja img {
    margin-top: 0px;
    width: 100%;
    height: 900px;
    object-fit: cover;
}

.caja h2,
.caja p {
    padding: 0px;
    text-align: center;
    color: #000000ee;
    margin-bottom: 50px;
}

/* 4TA PARTE: ASTRONAUTA*/

.c4 {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.c4 img {
    width: 50%;
    height: 100%;
    margin-top: 80px;
}

.btn-abajo a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    background: #000000;
    border: 2px solid #000000;
    border-radius: 8px;
    font-size: 19px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-abajo a:hover {
    color: #000000;
}

.btn-abajo a:nth-child(2) {
    background: #000000;
    color: #ffffff;
}

.btn-abajo a:nth-child(2):hover {
    color: #000000;
}

.btn-abajo a:nth-child(2)::before {
    color: #000000ee;
}

.btn-abajo a:nth-child(2) ::before {
    background-color: #6fff8d;
}

.btn-abajo a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #6fff8d;
    z-index: -1;
    transition: .5s;
}

.btn-abajo a:hover:before {
    width: 100%;
}

.caja_content {

    display: flex;
    flex-direction: column;
    align-items: center;


}

.caja_content h2 {
    justify-content: center;
    font-size: 50px;
}

.caja_content a {
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    text-decoration: none;
    color: #ffffffee;
    border-radius: 7px;
    align-self: flex-end;
    width: 150px;
    text-align: center;
}


/* ADN*/

.cardsADN {
    background-color: #6fff8d;
    text-align: center;
    margin-top: 20px;

}

.card_bodyADN img {
    width: 100%;
    height: 30%px;
    object-fit: cover;
    color: #000000;
}

.card_bodyADN img:hover {
    background-color: #ffffff;
    box-shadow: 5px 5px 15px 0px #4a4a4a;
    color: #000000;
}

.card_bodyADN {

    display: inline-block;
    width: 30%;
    text-align: center;
    padding: 20px 20px 20px 20px;
    background-color: #6fff8d;
    margin-top: none;
    position: relative;
}

.card_bodyADN h2,
.card_bodyADN p {
    padding: 5%;
    color: #000000
}

.card_bodyADN h2:hover {
    color: #F4EAD5;
    background-color: #000000;
    box-shadow: 5px 5px 15px 0px #4a4a4a;
}



/* PORTAFOLIO*/

.pseudos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    max-height: 100%;
    background-color: #eeee;
    gap: 40px;
    padding: 20px;
}

.pseudo {
    width: 90%;
    height: 600px;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #ffeeee;
    transition: .5s;
    overflow: hidden;
}

.pseudo:hover {
    background-color: #ffffff;
    box-shadow: 5px 5px 15px 0px #4a4a4a;
    color: #000000;
}

.pseudo img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
    transition: .3s;
}

.pseudo:hover img {
    filter: blur(0);
    width: 50%;
    height: 900px;
}

.pseudo__container {
    padding: 50px;
    width: 50%;
}

.pseudo:nth-child(odd) {
    background-color: rgb(255, 255, 255);
    color: #000000ee;
    flex-direction: row-reverse;
}

.pseudo:nth-child(odd):hover {
    background-color: #6fff8d;
    box-shadow: 5px 5px 15px 0px #4a4a4a;
}

.number-page {
    text-align: center;
    width: 100%;
    height: 5%;
    background-color: #000000;
}

.number-page ul li {
    display: inline-block;
    width: 50px;
    margin-top: 8px;

}

.number-page ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.number-page ul li a:hover {
    background-color: #ffeeee;
    color: #000000;
}


/* CONTACTO*/

.container {
    max-width: 1500px;
    margin: 0 auto;
}


.form-section form {
    width: 40%;
    margin: 40px auto;
    float: left;
    text-align: center;
}

.form-section form p {
    font-size: 20px;
    color: #000000;
    text-align: center;
    align-items: center;
}

.form-section form p label {
    display: flex;
    width: 100%;
    text-align: start;
    transform: translateX(25%);
    margin: 8px auto;

}


.form-section form p button {
    background-color: #6fff8d;
    margin-left: 300px;
    margin-top: 50px;
    text-decoration: none;
    color: #000000ee;
    padding: 10px;
    border-radius: 7px;
    align-self: flex-end;
    width: 150px;
    text-align: center;
}

.form-section form p button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #000000;
    border: 2px solid #000000;
    border-radius: 8px;
    font-size: 19px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.form-section form p button:hover {
    color: #000000;


}

.form-section form p button:nth-child(2) {
    background: #000000;
    color: #ffffff;
}

.form-section form p button:nth-child(2):hover {
    color: #000000;
}

.form-section form p button:nth-child(2)::before {
    color: #000000ee;
}

.form-section form p button:nth-child(2) ::before {
    background-color: #6fff8d;
}

.form-section form p button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #6fff8d;
    z-index: -1;
    transition: .5s;
}

.form-section form p button:hover:before {
    width: 100%;
}


.form-section form p input,
.form-section form p textarea {
    display: block;
    width: 50%;
    text-align: start;
    transform: translateX(50%);
    border: 100;
}


.form-section form h3 {
    color: #000000;
    font-size: 24px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 70px;
}

.form-section img {
    width: 560px;
    height: 560px;
    margin: 40px auto;
    object-fit: fill;
    display: inline-block;
    margin-left: 300px;
    margin-top: 60px;
}


/*location*/

.section-location {
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: center;
}

.location-map {
    float: center;
    display: flex;

}



/*BLOG*/

.caja_content {

    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.caja_content a {
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    text-decoration: none;
    color: #ffffffee;
    padding: 10px;
    border-radius: 7px;
    align-self: flex-end;
    width: 150px;
    text-align: center;
}



/*Footer*/

.footer {
    background-color: #6fff8d;
    padding: 100px 0;
}

.footer-columna {
    display: flex;
    flex-wrap: wrap;
}


.footer-links h4 {
    font-size: 30px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 25px;
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
    display: block;
}

.footer-links {
    width: 25%;
    padding: 0 15px;

}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    display: flex;
    margin-bottom: auto;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #ffffff;
    padding-left: 6px;
}


.social-links {

    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.social-links a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #000000;
    border-radius: 50%;
    font-size: 30px;
    color: #000000;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.social-links a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #ffffff;
    z-index: -1;
    transition: .5s;

}

.social-links a:hover::before {
    width: 100%;
}







@media(max-width:991px) {

    .home {
        flex-direction: column;
    }

    .form-section form p input,
    .form-section form p textarea {
        width: 100%;

        display: flex;
        text-align: center;
        margin-right: 100px;
        margin-bottom: 40px;
        transform: none;
    }

    .form-section form p button {
        width: 80%;
        display: flex;
        margin: auto;
    }

    .form-section img {
        display: block;
        width: 560px;
        height: 560px;
        margin: 30px auto;
        object-fit: fill;
    }

    .form-section form h3 {
        font-size: 30px;
        margin-right: 0px;
        padding-top: 0px;
    }

    .form-section {
        display: flex;
        flex-direction: column;
    }

    .card_bodyADN {
        width: 100%;
        padding: 0px 0px 0px;
    }



    .caja_content h2 {
        font-size: 30px;
        justify-content: center;
    }

    .home-content h3 {
        text-align: center;
        margin-right: 10px;

    }

    .card_body {
        display: contents;
    }

    .home-content h1 {
        text-align: center;
        margin-right: 0px;
        font-size: 60px;
    }

    .card_body h2,
    .card_body p {
        font-size: 0px;
    }

    .home-content h3 {
        display: flex;
    }

    .form-section img {
        object-fit: scale-down;
        margin-top: 0px;
        width: 100%;
        height: 100%;
        align-content: center;

    }

    .caja_content a {
        position: static;
    }

    .caja h2 {
        font-size: 20px;
    }

    .caja h3 {
        font-size: 25px;

    }

    .caja img {
        padding-bottom: 20px;
        margin-bottom: 40px;
    }

    .card_body h2,
    .card_body p {
        padding: 5%;
        color: #000000;
        font-size: 40px;
    }

    .caja img {
        object-fit: scale-down;
        margin-top: 0px;
        width: 100%;
        height: 100%
    }

    .card_body img {
        flex-direction: column;
        width: 100%;
    }

    .footer {
        padding: 50px 0;
    }

    .footer-links ul li a {
        flex-direction: column;
    }

    .footer-columna {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}